ul{
    list-style-type: none;
}
table{
    empty-cells: show;
}
.grid-calendar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}