:root {
  --color1: #ff2fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* WELCOME SECTION */
/* #welcome {
  height: 93.5vh;
} */
#name-container {
  text-align: left;
  /* margin: 0 auto; */
  width: 30%;
}
#img-container {
  width: 25%;
}
#profile-image {
  width: 100%;
  border-radius: 50%;
}
/* PROJECTS SECTION */
#projects {
  background: rgb(33, 37, 41);
  color: white;
  text-align: center;
}
.project-img-container {
  height: 400px;
  border: 1px solid white;
}
.project-img-container:hover {
  filter: brightness(90%);
  cursor: pointer;
}
.saliksik {
  background-image: url(saliksik-uphsl.com_.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
