ul{
    list-style-type: none;
}
table{
    empty-cells: show;
}
.grid-calendar{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
}
.responsive-footer-bottom-fixed-md{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}

@media only screen and (max-width: 768px){
    .responsive-footer-bottom-fixed-md{
        position: relative;
    }
}